<div class="contents row">
  <div class="container">
    <h3>ランキング投稿</h3>
    <%= form_with(model: @tweet, local: true) do |form| %>
      <% (1..10).each do |rank| %>
        <h4><%= "ランキング#{rank}位" %></h4>
        <%= form.text_field "movie_name_#{rank}".to_sym, placeholder: "Movie Name" %>
        <%= form.text_area "movie_description_#{rank}".to_sym, placeholder: "感想 ネタバレ", rows: "3" %>
      <% end %>
      <%= form.submit "SEND" %>
    <% end %>
  </div>
</div>