<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>TOP CINEMA</title>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <!-- ヘッダー -->
    <header class="header">
      <div class="heading">
        <h1 class="logo"><a href="index.html">TOP CINEMA</a></h1>
      </div>
      <div class="navbar">
        <ul class="nav-lists">
          <li class="nav-lists__list"><%= link_to "新規登録", new_user_registration_path %></li>
          <li class="nav-lists__list"><%= link_to "ログイン", new_user_session_path %></li>
          <li class="nav-lists__list"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
          <li class="nav-lists__list"><%= link_to "ランキング", search_tweets_path %></li>
        </ul>
      </div>
    </header>

    <!-- トップページのメイン -->
    <div class="index-main">
      <div class="hero">
        <img class="hero-image" src="<%= asset_path('hero.jpg') %>">
        <div class="hero-items">
          <div class="hero-text">
            <div class="hero-text__main">TOP CINEMA</div>
            <div class="hero-text__sub">
              あなたのトップ10教えてください〜映画愛好家が生の声を届ける絶好の機会〜
            </div>
          </div>
          <div class="service-btn">
            <a href="<%= search_tweets_path %>">ランキング</a>
          </div>
        </div>
      </div>
    </div>
    <%= yield %>˜
    <!-- フッター -->
    <footer class="footer">
      <div class="copyright"></div>
    </footer>
  </body>
</html>