<!DOCTYPE html>
<html>
  <head>
    <title>TOPCINEMA</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://code.jquery.com/jquery-3.6.0.min.js', crossorigin: 'anonymous' %>
    <%= javascript_include_tag 'https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js' %>
    <style>
        body {
          margin: 0;

          overflow: hidden;
        }
    </style>
  </head>

  <body>
    <header class="header">
      <div class="header__bar row">
        <h1 class="grid-6"><a href="/">TOPCINEMA</a></h1>
        <% if user_signed_in? %>
          <div class="user_nav grid-6">
            <span><%= current_user.nickname %>
               <ul class="user__info">
                 <li>
                   <%= link_to "マイページ", "/users/#{current_user.id}" %>
                   <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
                 </li>
               </ul>
            </span>
            <%= link_to "投稿する", new_tweet_path, class: "post" %>
          </div>
        <% else %>
          <div class="grid-6">
            <%= link_to "ログイン", new_user_session_path, class: "post" %>
            <%= link_to "新規登録", new_user_registration_path, class: "post" %>
            
          </div>
        <% end %>
      </div>

    </header>
      
    <%= yield %>
        <div class="service-btn">
            <a href="service.html" class="button">
              <%= image_tag "image1.jpg" %>
              <span>今週の映画ランキング</span>
            </a>
            <a href="#" class="button">
              <%= image_tag "image2.jpg" %>
              <span>キャストから調べる</span>
            </a>
            <a href="#" class="button">
              <%= image_tag "image3.jpg" %>
              <span>歴代みんなのランキング</span>
            </a>
            <a href="service.html" class="button">
              <%= image_tag "image4.jpg" %>
              <span>おすすめ映画特集</span>
            </a>
            <a href="#" class="button">
              <%= image_tag "image5.jpg" %>
              <span>ニュース</span>
            </a>
            <a href="#" class="button">
              <%= image_tag "image6.jpg" %>
              <span>管理人おすすめ</span>
            </a>
        </div>
        
    <canvas id="canvas"></canvas>
    <%= javascript_pack_tag 'script' %>

    <script>
      $(function () {
        $(".slider").slick({
          arrows: true,
          dots: true,
          autoplay: true,
        });
      });
    </script>
  </body>
</html>