<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>TOPCINEMA</title>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <!-- ヘッダー -->
    <header class="header">
      <div class="heading">
        <h1 class="logo"><a href="index.html">TOPCINEMA</a></h1>
      </div>
      <div class="navbar">
        <ul class="nav-lists">
          <% if user_signed_in? %>
            <li class="nav-lists__list"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "" %></li>
          <% else %>
            <li class="nav-lists__list"><%= link_to "新規登録", user_registration_path, class: 'post' %></li>
            <li class="nav-lists__list"><%= link_to "ログイン", user_session_path, class: 'post' %></li>
          <% end %>
        </ul>
      </div>
    </header>

    <!-- トップページのメイン -->
      <div class="cursor"></div>

      <div class="shapes">
        <div class="shape shape1"></div>
        <div class="shape shape2"></div>
        <div class="shape shape3"></div>
      </div>

        <div class="content">
          <h1>TOPCINEMA</h1>
        </div>

      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.2/gsap.min.js" integrity="sha512-kVlGhj2qFy+KBCFuvjBJTGUMxbdqJKs4yK2jh0e0VPhWUPiPC87bzm4THmaaIee3Oj7j6sDpTTgm2EPPiESqBg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <script src="script.js"></script>
      <%= yield %>
  </body>
</html>